In [ ]:
# Question-1

a=input ('Input 10 comma seperated  numbers : ')
a = tuple(int(x) for x in a.split(","))
i=0
l=[]
while(i<10):

  if(a.count(a[i])>1):
      if(a[i] not in l):
       l.append(a[i])
  i=i+1
l.reverse()
print(l)

Input 10 comma seperated  numbers : 1,2,3,4,5,2,3,4,7,9,5
[5, 4, 3, 2]

In [ ]:
# Question-2

tuple1 = (1,2,3,4,45)
print(max(tuple1))
print(min(tuple1))
print(len(tuple1))

45
1
5

In [ ]:
# Question-3

def Split(mix):
    ev_li = []
    od_li = []
    for i in mix:
        if (i % 2 == 0):
            ev_li.append(i)
        else:
            od_li.append(i)
    
    print("Even tuple:", tuple(ev_li))
    print("Odd odd:", tuple(od_li))
  
# Driver Code
a=input ('Input comma seperated  numbers : ')
a = tuple(int(x) for x in a.split(","))
Split(a)

Input comma seperated  numbers : 1,2,3,4,5,6,7,8
Even tuple: (2, 4, 6, 8)
Odd odd: (1, 3, 5, 7)

In [ ]:
# Question-4

a=input ('Input comma seperated  numbers : ')
a = tuple(int(x) for x in a.split(","))
#count method
n=int(input("Print the number whose count is to be checked "))
if(n in a):
    print(a.count(n),"times present")
else:
    print("Not present")
#index method

n=int(input("Enter the element to be whose index is to be found "))
print("Element present at index",a.index(n))
#type function
print("Type of the variable",type(a))
#length function
print("Length of the tuple",len(a))
#Max sunction
print("Max element in the tuple",max(a))

Input comma seperated  numbers : 1,1,1,1,2,2,2,2
Print the number whose count is to be checked 2
4 times present
Enter the element to be whose index is to be found 2
Element present at index 4
Type of the variable <class 'tuple'>
Length of the tuple 8
Max element in the tuple 2

In [ ]:
# Question-5

n=10
a={}
for i in range(0,n):
    x=input("Enter employee name ")
    v=input("Enter employee id ")
    a.update({x:v})
print(a)

Enter employee name a
Enter employee id 1
Enter employee name b
Enter employee id 2
Enter employee name c
Enter employee id 3
Enter employee name d
Enter employee id 4
Enter employee name e
Enter employee id 5
Enter employee name f
Enter employee id 6
Enter employee name g
Enter employee id 7
Enter employee name h
Enter employee id 8
Enter employee name i
Enter employee id 9
Enter employee name j
Enter employee id 10
{'a': '1', 'b': '2', 'c': '3', 'd': '4', 'e': '5', 'f': '6', 'g': '7', 'h': '8', 'i': '9', 'j': '10'}

In [ ]:
# Question-6

n=10
a={}
for i in range(0,n):
    x=input("Enter employee name ")
    v=input("Enter employee id ")
    a.update({x:v})
print("Add 5 more records")
for i in range(0,5):
     x=input("Enter employee name ")
     v=input("Enter employee id ")
     a.update({x:v})
     print(a)
print("Removing the last 2 elements")
a.popitem()
print(a)
a.popitem()
print(a)

Enter employee name abc
Enter employee id 21
Enter employee name def
Enter employee id 32
Enter employee name abcd
Enter employee id 1
Enter employee name qqq
Enter employee id 99
Enter employee name sayak
Enter employee id 11
Enter employee name ababa
Enter employee id 12
Enter employee name hhjhjhjh
Enter employee id 13
Enter employee name eeeeeeeee
Enter employee id 66
Enter employee name tutut
Enter employee id 6767
Enter employee name tuturururur
Enter employee id 6789
Add 5 more records
Enter employee name a
Enter employee id 31
{'abc': '21', 'def': '32', 'abcd': '1', 'qqq': '99', 'sayak': '11', 'ababa': '12', 'hhjhjhjh': '13', 'eeeeeeeee': '66', 'tutut': '6767', 'tuturururur': '6789', 'a': '31'}
Enter employee name b
Enter employee id 32
{'abc': '21', 'def': '32', 'abcd': '1', 'qqq': '99', 'sayak': '11', 'ababa': '12', 'hhjhjhjh': '13', 'eeeeeeeee': '66', 'tutut': '6767', 'tuturururur': '6789', 'a': '31', 'b': '32'}
Enter employee name c
Enter employee id 33
{'abc': '21', 'def': '32', 'abcd': '1', 'qqq': '99', 'sayak': '11', 'ababa': '12', 'hhjhjhjh': '13', 'eeeeeeeee': '66', 'tutut': '6767', 'tuturururur': '6789', 'a': '31', 'b': '32', 'c': '33'}
Enter employee name f
Enter employee id 43
{'abc': '21', 'def': '32', 'abcd': '1', 'qqq': '99', 'sayak': '11', 'ababa': '12', 'hhjhjhjh': '13', 'eeeeeeeee': '66', 'tutut': '6767', 'tuturururur': '6789', 'a': '31', 'b': '32', 'c': '33', 'f': '43'}
Enter employee name g
Enter employee id 45
{'abc': '21', 'def': '32', 'abcd': '1', 'qqq': '99', 'sayak': '11', 'ababa': '12', 'hhjhjhjh': '13', 'eeeeeeeee': '66', 'tutut': '6767', 'tuturururur': '6789', 'a': '31', 'b': '32', 'c': '33', 'f': '43', 'g': '45'}
Removing the last 2 elements
{'abc': '21', 'def': '32', 'abcd': '1', 'qqq': '99', 'sayak': '11', 'ababa': '12', 'hhjhjhjh': '13', 'eeeeeeeee': '66', 'tutut': '6767', 'tuturururur': '6789', 'a': '31', 'b': '32', 'c': '33', 'f': '43'}
{'abc': '21', 'def': '32', 'abcd': '1', 'qqq': '99', 'sayak': '11', 'ababa': '12', 'hhjhjhjh': '13', 'eeeeeeeee': '66', 'tutut': '6767', 'tuturururur': '6789', 'a': '31', 'b': '32', 'c': '33'}

In [ ]:
# Question-7

n=5
a={}
for i in range(0,n):
    x=input("Enter prod name ")
    v=input("Enter price ")
    a.update({x:v})
print(len(a))
new_output = list(a.values())
print("All values in dictionary are:",new_output)
a.clear()
print('a =', a)

Enter prod name a
Enter price 10
Enter prod name b
Enter price 15
Enter prod name c
Enter price 5
Enter prod name d
Enter price 20
Enter prod name e
Enter price 25
5
All values in dictionary are: ['10', '15', '5', '20', '25']
a = {}

In [ ]:
# Question-8

thisset = {"January", "February", "March","April","May","June","July","August","September","October","November","December"}

print("In reverse order :- \n")
l=["January", "February", "March","April","May","June","July","August","September","October","November","December"]
i=11
while(i>0):
    print(l[i])
    i=i-1

In reverse order :-

December
November
October
September
August
July
June
May
April
March
February

In [ ]:
# Question-9

a={1,2,3,4,5}
b={6,7,8,9,10}
print("union ",a.union(b))
print("Intersection",a.intersection(b))
print("Subtraction",a-b)
print("subtraction in the other way",b-a)

union  {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
Intersection set()
Subtraction {1, 2, 3, 4, 5}
subtraction in the other way {6, 7, 8, 9, 10}

In [ ]:
# Question-10

thisset = {"Mon","Tue","Wed","Thur","Fri","Sat","Sun"}
thisset.remove("Tue")
print(thisset)
thisset.remove("Sat")
print(thisset)

{'Wed', 'Mon', 'Sat', 'Fri', 'Sun', 'Thur'}
{'Wed', 'Mon', 'Fri', 'Sun', 'Thur'}

# 1905276